@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart-table-area section-padding-100">
    <form method="post">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>CHECKOUT</h2>
                    </div>
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>

                                    <th></th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        No Product Selected
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="cart-summary">
                <h5>Cart Total</h5>
                <ul class="summary-table">
                    <li><span>subtotal:</span> <span></span></li>
                    <li><span>delivery:</span> <span> </span></li>
                    <li><span>total:</span> <span></span> </li>
                </ul>

                <div class="payment-method">
                    <!-- Cash on delivery -->
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="cod" checked>
                        <label class="custom-control-label" for="cod">Cash on Delivery</label>
                    </div>

                </div>

                <div class="cart-btn mt-100">

                </div>
            </div>
        </div>
        <button class="amado-btn" type="button" onclick="location.href='@Url.Action("Index","Home")'">Home</button>
    </form>
</div>
<script>


</script>