
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h5>Thank for purchase</h5>
<div class="cart-btn mt-100">
    <a href="#" class="btn amado-btn w-100">Continue shopping</a>
</div>

